@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css);

@font-face {
  font-family: 'xtryme';
  src: url('/fonts/xtryme.woff2') format('woff2'),
    url('/fonts/xtryme.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AHDN';
  src: url('/fonts/AHDN.woff2') format('woff2'),
    url('/fonts/AHDN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spire NBP';
  src: url('/fonts/Spire-NBP.woff2') format('woff2'),
    url('/fonts/Spire-NBP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  word-break: keep-all;
}

a {
  word-break: break-all;
}

html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  font-family: 'Spire NBP', 'Noto Sans KR';
}


a {
  color: inherit;
}

a:visited {
  text-decoration: none;
}
