@import '~include-media/dist/include-media';

.Contact {
  line-height: 3.5rem;
  letter-spacing: .15rem;
  font-size: 2rem;

  i {
    margin-right: 1rem;
  }

  @include media(">=phone") {
    font-size: 1.5rem;
  }

  .Container {
    display: flex;
    flex-direction: row;

    @include media("<desktop") {
      flex-direction: column;
    }

    .Panel {
      width: 50%;
      margin-right: 1rem;
      word-break: break-all;

      @include media("<desktop") {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;

        .PanelContents {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }
    }
  }
}