@import '~include-media/dist/include-media';

.Discography {
  /*
  .Discography__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
  }

  .Discography__album {
    width: 25%;
    padding: 1.5rem;
    box-sizing: border-box;

    @include media(">=tablet", "<desktop") {
      width: 50%;
    }

    @include media(">=phone", "<tablet") {
      width: 100%;
    }
  }*/

  .Discography__list {
    display: grid;
    row-gap: 1rem;
    column-gap: 10rem;
    grid-template-columns: repeat(4, 1fr);

    @include media('>=tablet', '<desktop') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('>=phone', '<tablet') {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .Discography__albumImage {
    background-position: center;
    background-size: cover;
    width: 100%;
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  a {
    width: 100%;
    height: 100%;
  }
}
