@import '~include-media/dist/include-media';

.IndexPage {
  .IndexPage__contents {
    display: flex;
    flex-direction: column;
  }

  .IndexPage__panels {
    margin-top: 1rem;
    flex-direction: row;
    display: flex;
  }

  .IndexPage__newsList {
    padding: 0;
    list-style: none;
  }

  .IndexPage__twitterTimelineWrapper {
    padding: 1rem;
    flex: 1;
    display: center;
  }


  @include media("<=tablet") {
    .IndexPage__panels {
      flex-direction: column;

      .Panel:first-child {
        margin-bottom: 1rem;
      }
    }

    .IndexPage__contents {
      margin-bottom: 1rem;
    }
  }
}