ul {
  padding: 0;
}

li {
  list-style: none;
}

.live {
  display: flex;
  flex-direction: column;
}

.poster {
  width: 100%;
}

.poster img {
  width: 100%;
}

.live-contents {
  font-size: 2rem;
}

.description {
  padding-left: 2rem;
  margin-bottom: 2rem;
  min-height: 4.5rem;
}

.description .label {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #999;
}

.description .text {          
  word-break: break-all;          
}

.team {
  margin-bottom: .8rem;
}