@import '~include-media/dist/include-media';

.StatisticsPage {
  a {
    text-decoration: none;
  }
  .list-wrapper {
    position: relative;
    display: grid;
    row-gap: 1rem;
    column-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-top: 2rem;
    @include media('>=tablet', '<desktop') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('>=phone', '<tablet') {
      grid-template-columns: repeat(1, 1fr);
    }

    .description {
      margin-top: 1rem;
      height: 10rem;

      .band-name {
        font-size: 3rem;
      }
      .live-count {
        font-size: 2rem;
        color: #999;
      }
      .instagram-id {
        color: #a9a9a9;
        -webkit-text-stroke: 1px #111;
        margin-top: 1rem;
        text-decoration: underline;
      }
    }

    .list-item {
      position: relative;

      .StatisticsPage__medal {
        position: absolute;
        font-size: 10rem;
        top: -10px;
        left: 50%;
        margin-left: -5rem;
        z-index: 1;
      }
    }
  }
}
