@import '~include-media/dist/include-media';

.ClubMap {
  .ClubMap__map {
    margin-top: 2rem;
    width: 50rem;
    height: 49rem;

    @include media('<=tablet') {
      width: 100%;
      height: 30rem;
    }
  }
}
