@import '~include-media/dist/include-media';

.PhotoDetail {
  .PhotoDetail__description {
    padding-left: 1rem;
    padding-right: 1rem;

    h2 {
      font-size: 3rem;
    }

    .PhotoDetail__instaLink {
      font-size: 1.5rem;
      text-align: right;
    }
  }

  .PhotoDetail__photos-grid {
    display: flex;
    margin-left: -10px;
    width: auto;
  }

  .PhotoDetail__grid-column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;

    > article {
      margin-bottom: 10px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        transition: 0.3s ease-in-out;
        transform: scale(1.02);
        cursor: pointer;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .PhotoDetail__photos {
    display: grid;
    row-gap: 1rem;
    column-gap: 10rem;
    grid-template-columns: repeat(4, 1fr);
    columns: 4;
    @include media('>=tablet', '<desktop') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('>=phone', '<tablet') {
      grid-template-columns: repeat(1, 1fr);
    }

    .PhotoDetail__photoItem {
      width: 100%;
      display: inline-block;
      margin: 0 0 1em;
      width: 100%;
    }
  }

  .PhotoDetail__footer {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
  }
}
