@import '~include-media/dist/include-media';

.AlbumDetail {
  .AlbumDetail__content {
    display: flex;
    flex-direction: row;

    @include media('<desktop') {
      flex-direction: column;
    }

    .AlbumDetail__poster {
      flex: 1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      @include media('<desktop') {
        width: 100%;
      }
    }

    .AlbumDetail__descriptions {
      flex: 1;
      position: relative;
      padding: 3rem;
      line-height: 25px;

      .AlbumDetail__description {
        margin: 0;
        margin-bottom: 2rem;

        h1 {
          font-size: 4rem;
          font-weight: 700;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 2.5rem;
          font-weight: 700;
        }

        ol {
          padding-left: 2rem;
        }
      }
    }
    ul li {
      padding-left: 2rem;
    }
  }
}
