html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  font-family: 'Spire NBP', 'Noto Sans KR', serif;
}

.App {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
}
a:visited {
  text-decoration: none;
}

// https://web.dev/headings-and-landmarks/#bypass-repetitive-content-with-skip-links
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}
