@import '~include-media/dist/include-media';

.Logo {
  text-align: center;
  position: relative;
  height: 10vh;
  max-height: 200px;
  min-height: 80px;
  margin: 0 auto;
  padding: 2rem;

  .Logo__image {    
    position: absolute;
    top: 50%;
    left: 50%;    
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transform: translate(-50%, -50%);
    &--hidden {
      opacity: 0;
    }   
  }
  img {    
    height: calc(100% - 2rem);
  }
}
