@keyframes bounce {
  25% {
    top: -0.5rem;
  }

  50% {
    top: -1rem;
  }
  70% {
    top: -1.5rem;
  }
  100% {
    top: -1.8rem;
  }
}

.Logo {
  text-align: center;

  .Logo__image {
    width: 500px;
    height: 150px;
  }
}
