@import '~include-media/dist/include-media';

.Nav {
  font-family: 'AHDN', cursive;
  text-align: center;
  background-color: #eee;
  padding: 1rem;

  .Nav__menu {
    font-size: 4.5rem;
    text-decoration: none;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #999;
    font-weight: 700;

    &:visited {
      color: #999;
    }

    &:hover {
      text-decoration: underline;
      color: #000;
    }

    @include media(">=tablet", "<desktop") {
      font-size: 2.5rem;
    }

    @include media(">=phone", "<tablet") {
      font-size: 1.2em;
      padding-left: .8rem;
      padding-right: .8rem
    }
  }
}
